#!/bin/sh

### System
# nmcli device wifi hotspot ifname wlp1s0 ssid code01-eno1 password "$(cat ~/.config/wifipass)" &


### Setting
# xrandr --newmode "1920x1080_60.00"  173.00  1920 2048 2248 2576  1080 1083 1088 1120 -hsync +vsync
# xrandr --addmode Virtual-1 "1920x1080_60.00"
# resolution full norestore
# autodisplay above
# nitrogen --restore
# sudo xbacklight -set 20
# xmodmap ~/.config/.Xmodmap
# /usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh &
setxkbmap -option caps:swapescape &
blugon -S 5200 &
check-if-internet && setbg bing nonotify || setbg random nonotify
# setbg restore nonotify || setbg random nonotify


### Daemon
# pulseeffects --gapplication-service >/dev/null 2>/dev/null &
dwm_status 2>/dev/null &
# picom --experimental-backends -b
dunst &
fcitx -D >/dev/null 2>/dev/null &
fusuma >/dev/null 2>/dev/null &
clipmenud &
flameshot &
xobctl set volume >/dev/null &
xobctl set brightness >/dev/null &
kdeconnect-cli --refresh &
pause-on-remove-sink &
blueman-applet 2>/dev/null &
# xidlehook --not-when-audio --timer 300 "betterlockscreen -l dim && dunstctl set-paused true" "dunstctl set-paused false" >~/.cache/xidelhook.process.log 2>~/.cache/xidelhook.process.log &


### Open on startup
tmux has-session -t node14 || tmux new -d -s node14 &
# thunderbird >>/home/brian/.cache/thunderbird.log 2>>/home/brian/.cache/thunderbird.error.log &
# telegram-desktop >>/home/brian/.cache/telegram.log 2>>/home/brian/.cache/telegram.error.log &
# postman >>/home/brian/.cache/postman.log 2>>/home/brian/.cache/postman.error.log &
# dbeaver >>/home/brian/.cache/dbeaver.log 2>>/home/brian/.cache/dbeaver.error.log &
# obsidian >>/home/brian/.cache/obsidian.log 2>>/home/brian/.cache/obsidian.error.log &
