#!/bin/sh

### System
# nmcli device wifi hotspot ifname wlp1s0 ssid code01-eno1 password "$(cat ~/.config/wifipass)" &


### Setting
# xrandr --newmode "1920x1080_60.00"  173.00  1920 2048 2248 2576  1080 1083 1088 1120 -hsync +vsync
# xrandr --addmode Virtual-1 "1920x1080_60.00"
# resolution full norestore
# autodisplay above
# nitrogen --restore
# sudo xbacklight -set 20
# xmodmap ~/.config/.Xmodmap
# /usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh &
setxkbmap -option caps:swapescape &
blugon -S 5200 &
check-if-internet && setbg bing nonotify || setbg random nonotify
# setbg restore nonotify || setbg random nonotify


### Daemon
# pulseeffects --gapplication-service >/dev/null 2>/dev/null &
dwm_status 2>/dev/null &
picom --experimental-backends -b
dunst &
fcitx -D >/dev/null 2>/dev/null &
fusuma >/dev/null 2>/dev/null &
clipmenud &
flameshot &
xobctl set volume >/dev/null &
xobctl set brightness >/dev/null &
kdeconnect-cli --refresh &
pause-on-remove-sink &
blueman-applet 2>/dev/null &


### Open on startup
tmux has-session -t node14 || tmux new -d -s node14 &
thunderbird &
telegram-desktop &
postman &
dbeaver &
obsidian &
